body,
html {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  font-size: 105%;
  width: auto;
  height: auto;
  color: #ffffff;
  background-color: white;
  overflow-x: hidden;
}

.text-code {
  color: #6311c8;
}

.highlight {
  color: #121212;
  background-color: #6311c8;
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-x: hidden;
}

/* Button */

.button {
  --font-color: #fefefe;
  --bg-color: #111;
  --main-color: #fefefe;
  width: auto;
  height: 50px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  padding: 0px 30px 0px 30px;
}

.button:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

/* Hero Section */

.hero-section {
  background-color: black;
  position: relative;
}

/* Navbar */
.navbar {
  padding: 10px 0px 10px 0px;
  justify-content: center;
  text-align: center;
  z-index: 9999;
  font-size: 15px;
  top: 0;
  background-color: #121212 !important;
}

.navbar a {
  position: relative;
  color: white;
  text-decoration: none;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: -5px;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navbar a:hover::after {
  opacity: 1;
}

.navbar.scrolled {
  background-color: rgb(22, 22, 22);
}

.navbar-dark {
  background-color: black !important;
  color: #ffffff !important;
}

.navbar-collapse,
.navbar-nav,
.nav-item {
  color: inherit !important;
}

.logo {
  width: 30px;
}

/* Hero Banner */
.overlay {
  background-color: #121212;
  height: 100vh;
  width: auto;
  z-index: 9998;
  position: absolute;
  opacity: 0.5;
}

.overlay-mobile {
  background-color: #121212;
  /* height: 100vh; */
  width: 95%;
  z-index: 9998;
  position: absolute;
  opacity: 0.5;
}

.hero-image {
  height: 100vh;
  width: 100%;
  margin: 0px 0px 0px 100px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.hero-mobilebanner {
  height: 100vh;
  width: 100vw;
  margin-right: 30px;
  background-color: #121212;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(255, 255, 255, 0);
  z-index: 9998;
}

.hero-mobiletext {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* background-color: rgba(255, 255, 255, 0); */
  z-index: 9998;
  margin: 20px 20px 20px -20px;
}

.hero-mobile {
  font-size: 60px;
}

.hero-title {
  font-size: 90px;
}

.navIcon {
  width: 30px;
}
/* About Section */

#about {
  height: 100vh;
}

.about-section {
  background-color: #121212;
  color: black;
  height: 55%;
  width: 100%;
  border-radius: 0px 0px 200px 0px;
}

.about-mobile {
  background-color: #121212;
  color: black;
  height: 25vh;
  width: 100%;
}

p {
  z-index: 9999;
}

#myName {
  color: yellow;
}

.profile-section {
  background-color: rgb(250, 250, 250);
  height: 100vh;
  /* width: 50%; */
  margin: 0px 0px 0px 0px;
  padding: 100px 80px 0px 0px;
}

.profile-section-mobile {
  height: 100vh;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 10px 0px 10px;
}

#profile {
  border-radius: 25px;
  width: 400px;
  height: 400px;
  margin: 130px 0px 90px 50px;
  background-color: black;
}

#profile-mobile {
  border-radius: 25px;
  width: 200px;
  height: 200px;
  margin: 20px 60px 50px 75px;
  background-color: black;
}

.skills {
  margin-left: 10px;
}

.skills-section {
  margin: 20px 0px 0px 0px !important;
}

.higlight {
  background-color: yellow;
  color: black;
}

/* Experience Section */

.experience-section {
  background-color: #121212;
  color: black;
  height: 100vh;
  width: 100%;
  padding: 100px 0px 0px 100px;
  border-radius: 200px 0px 0px 0px;
}

.experiencemobile-section {
  background-color: #121212;
  color: black;
  height: 115vh;
  width: auto;
  padding: 60px 0px 40px 40px;
  margin-top: 400px;
}

.experiencetitle-section {
  padding: 80px 0px 0px 0px;
}

.experiencetitlemobile-section {
  padding: 0px 0px 0px 0px;
}

.work-section {
  background-color: #121212;
  width: 50%;
  margin: 0px 0px 0px 0px;
  padding: 0px 80px 0px 80px;
  border-left: solid rgb(129, 129, 129);
  padding: 30px 0px 0px 30px;
}

.workmobile-section {
  background-color: #121212;
  height: auto;
  /* width: 50%; */
  margin: 0px 0px 0px 0px;
  padding: 0px 80px 0px 80px;
  border-left: solid rgb(129, 129, 129);
  padding: 30px 0px 0px 30px;
}

#experience {
  color: blue;
}

.career-details {
  color: rgb(24, 165, 212);
}

.career-string {
  color: rgb(196, 109, 33);
}

.career-num {
  color: rgb(144, 191, 74);
}

/* Projects Section */
.project-section {
  height: auto;
  width: 100vw;
  background-color: #101010;
  color: black;
  padding: 0px 0px 0px 0px;
}

/* Footer */
.footer {
  color: white;
  background-color: #121212;
  height: 50vh;
  width: 100vw;
}

.social-icon {
  filter: invert(100%);
  width: 30px;
  margin: 0px 20px 0px 0px;
}
